<!DOCTYPE html>
<html>
  <head>
    <title>FantasyApp</title>
    <%= csrf_meta_tags %>




    <%= javascript_pack_tag 'tickerApp/index' %>
    <%= stylesheet_pack_tag 'tickerApp/assets/stylesheets/app' %>

  <body>
    <%= yield %>
  </body>
</html>
